<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MyLife.Home.Core.Web</display-name>
	<welcome-file-list>
		<welcome-file>console</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AutoStartStopManagerService</servlet-name>
		<servlet-class>org.mylife.home.core.web.AutoStartStopManagerService</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>WebConsole</servlet-name>
		<servlet-class>org.mylife.home.core.web.WebConsole</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>WebConfiguration</servlet-name>
		<servlet-class>org.mylife.home.core.web.WebConfiguration</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>WebPlugin</servlet-name>
		<servlet-class>org.mylife.home.core.web.WebPlugin</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>WebLogging</servlet-name>
		<servlet-class>org.mylife.home.common.web.WebLogging</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>WebDesignStructure</servlet-name>
		<servlet-class>org.mylife.home.core.web.WebDesignStructure</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>JmxMiniConsoleServlet</servlet-name>
		<servlet-class>org.jminix.console.servlet.MiniConsoleServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
			
	<servlet-mapping>
		<servlet-name>WebConsole</servlet-name>
		<url-pattern>/console</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>WebConfiguration</servlet-name>
		<url-pattern>/configuration</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>WebPlugin</servlet-name>
		<url-pattern>/plugin</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>WebLogging</servlet-name>
		<url-pattern>/logging</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>WebDesignStructure</servlet-name>
		<url-pattern>/designStructure</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>JmxMiniConsoleServlet</servlet-name>
		<url-pattern>/jmx/*</url-pattern>
	</servlet-mapping>
</web-app>