#menu,#content,#header,#footer {
	background-color: #E6E6FF;
}

#menu li,div.tabs li,table.table_render tbody tr:nth-child(odd),legend {
	background-color: #CCCCFF;
}

table.table_render thead tr {
	background: #8080FF;
}

table.table_render tbody tr:nth-child(even) {
	background: #B2B2FF;
}