.nav,.pagination,.carousel,.panel-title a {
	cursor: pointer;
}

.tab-image {
	width: 16px;
	height: 16px;
}

#main {
	width: 100%;
	position: fixed;
	left: 0px;
	top: 50px;
	right: 0px;
	bottom: 60px;
}

.dark {
	background-color: #F3F3F3;
}

.light {
	background-color: #FFFFFF;
}

#commands {
	position: fixed;
	padding: 5px;
	width: 100%;
	bottom: 0;
	height: 60px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.dropdown-menu-limit {
	height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}