<meta charset="UTF8">

<div id="ui" ng-controller="uiController">

	<div id="main" class="light">
		<tabset>
		    <tab>
		    	<tab-heading><img class="tab-image" src="images/window.jpeg"></img>&nbsp;Fenêtres</tab-heading>
				<div id="ui-windows">
					<div id="ui-leftpane" splitter="{direction:'vertical',min:'110',max:'500'}">
						<div id="ui-itemlist-container" splitter="{direction:'horizontal',min:'100'}">
							<div id="ui-itemlist">
								<div id="ui-itemlist-wrapper">
									<ul class="ui-itemlist-list">
										<li class="ui-itemlist-item" data-identifier="app" ng-init="item = app">
											<div itemlist-item class="ui-itemlist-item">
												<img class="ui-itemlist-item" src="images/application.jpg"></img>
												<span class="ui-itemlist-item">Application</span>
											</div>
											<ul class="ui-itemlist-list">
												<li class="ui-itemlist-item" data-identifier="window:{{window.id}}" ng-repeat="window in windows" ng-init="item = window">
													<div itemlist-item class="ui-itemlist-item">
														<img class="ui-itemlist-item" src="images/ui.png"></img>
														<span class="ui-itemlist-item">{{window.id}}</span>
													</div>
													<ul class="ui-itemlist-list">
														<li class="ui-itemlist-item" data-identifier="command:{{action.id}}" ng-repeat="command in window.commands" ng-init="item = command">
															<div itemlist-item class="ui-itemlist-item">
																<img class="ui-itemlist-item" src="images/command.jpg"></img>
																<span class="ui-itemlist-item">{{command.id}}</span>
															</div>
														</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div id="ui-propertybox-container">
							<div id="ui-propertybox">
								<div id="ui-propertybox-wrapper">
									<div ng-show="!ui.selectedItem" class="ui-propertybox-title">
										<span>Pas de selection</span>
									</div>
									<div ng-show="ui.selectedItem && ui.selectedItem.internal().type === 'application'" class="ui-propertybox-title">
										<img class="item-image" src="images/application.jpg" title="Application"></img>
										&nbsp;&nbsp;&nbsp;
										<span>Application</span>
									</div>
									<div ng-show="ui.selectedItem && ui.selectedItem.internal().type === 'window'" class="ui-propertybox-title">
										<img class="item-image" src="images/ui.png" title="{{ui.selectedItem.id}}"></img>
										&nbsp;&nbsp;&nbsp;
										<span>{{ui.selectedItem.id}}</span>
									</div>
									<div ng-show="ui.selectedItem && ui.selectedItem.internal().type === 'command'" class="ui-propertybox-title">
										<img class="item-image" src="images/command.jpg" title="{{ui.selectedItem.id}}"></img>
										&nbsp;&nbsp;&nbsp;
										<span>{{ui.selectedItem.id}}</span>
									</div>
									<div id="ui-propertybox-content">
										<table ng-show="ui.selectedItem">
											<thead>
												<tr>
													<th width="35%">Nom</th>
													<th width="65%">Valeur</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-show="ui.selectedItem.internal().type === 'application'">
													<td>Fenêtre def.</td>
													<td>
														<div class="dropdown">
															<input type="text" ng-model="ui.selectedItem.defaultWindow" class="dropdown-toggle">
															</input>
															<ul class="dropdown-menu">
																<li class="ui-dropdown-item" ng-repeat="window in windows" ng-click="ui.selectedItem.defaultWindow = window.id">
																	<a><span>{{window.id}}</span></a>
																</li>
															</ul>
														</div>
													</td>
												</tr>
												<tr ng-show="ui.selectedItem.internal().type === 'window' || ui.selectedItem.internal().type === 'command'" >
													<td>ID</td>
													<td><input type="text" ng-model="ui.selectedItem.id"></input></td>
												</tr>
												<tr ng-show="ui.selectedItem.internal().type === 'window'">
													<td>Img. fond</td>
													<td>
														<div class="dropdown">
															<input type="text" ng-model="ui.selectedItem.background" class="dropdown-toggle">
															</input>
															<ul class="dropdown-menu">
																<li ng-repeat="resource in resources" ng-click="ui.selectedItem.background = resource.id">
																	<a>
																		<span>{{resource.id}}</span>
																		<img class="ui-resource-list" src="{{resource.data}}"
																			tooltip-html-unsafe="<img class=&quot;ui-resource-tooltip&quot; src=&quot;{{resource.data}}&quot;></img>"></img>
																	</a>
																</li>
															</ul>
														</div>
  													</td>
												</tr>
												<tr ng-show="ui.selectedItem.internal().type === 'command'" >
													<td>X</td>
													<td><input type="number" ng-model="ui.selectedItem.x"></input></td>
												</tr>
												<tr ng-show="ui.selectedItem.internal().type === 'command'" >
													<td>Y</td>
													<td><input type="number" ng-model="ui.selectedItem.y"></input></td>
												</tr>
												<tr ng-show="ui.selectedItem.internal().type === 'command'" >
													<td>Affichage</td>
													<td>{{formatCommandDisplay(ui.selectedItem.display)}}&nbsp;&nbsp;&nbsp;<button type="button" ng-click="designCommandDisplay(ui.selectedItem.display)" class="btn btn-default btn-xs">...</button></td>
												</tr>
												<tr ng-show="ui.selectedItem.internal().type === 'command'" >
													<td>Prim. act.</td>
													<td>{{formatCommandAction(ui.selectedItem.primaryAction)}}&nbsp;&nbsp;&nbsp;<button type="button" ng-click="designCommandAction(ui.selectedItem.primaryAction" class="btn btn-default btn-xs">...</button></td>
												</tr>
												<tr ng-show="ui.selectedItem.internal().type === 'command'" >
													<td>Sec. act.</td>
													<td>{{formatCommandAction(ui.selectedItem.secondaryAction)}}&nbsp;&nbsp;&nbsp;<button type="button" ng-click="designCommandAction(ui.selectedItem.secondaryAction)" class="btn btn-default btn-xs">...</button></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div id="ui-propertybox-commands">
										<button ng-show="ui.selectedItem && ui.selectedItem.internal().type !== 'application'" type="button" class="btn btn-default btn-xs" ng-click="deleteItem()" title="Supprimer"><img src="images/delete.png" height="16" width="16"></src></button>
										<button ng-show="ui.selectedItem" type="button" class="btn btn-default btn-xs" ng-click="createItem()" title="Nouveau"><img src="images/new.png" height="16" width="16"></src></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="schema-container" class="drop-container" ng-click="addEvent($event)" schema-container>
					</div>
				</div>
			</tab>
		    <tab>
		    	<tab-heading><img class="tab-image" src="images/resource.jpeg"></img>&nbsp;Ressources</tab-heading>
				<div class="ui-resource-wrapper">
					<!-- <div class="page-header "><h3>Ressources présentes dans le système</h3></div> -->
					
					<div class="panel panel-default">
						<div class="thumbnail ui-resource-list" ng-repeat="resource in resources">
							<img class="ui-resource-list" src="{{resource.data}}" tooltip-html-unsafe="<img class=&quot;ui-resource-tooltip&quot; src=&quot;{{resource.data}}&quot;></img>"></img>
							<div class="caption">
								<span class="ui-resource-list">{{resource.id}}</span>
								<p><button type="button" class="btn btn-default btn-xs" ng-click="destroyResource(resource)" title="Supprimer"><img src="images/delete.png" height="16" width="16"></src></button></p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">Ajout d'une ressource</div>
	  					<div class="panel-body">
							<div>
								<table class="ui-resource-new">
									<tr>
										<td>Id</td>
										<td><input type="text" ng-model="$parent.newResourceId"></input></td>
									</tr>
									<tr>
										<td>Contenu</td>
										<td>
											<span class="btn btn-default btn-xs btn-file">
												<img src="images/upload.png" height="16" width="16"></img>
											    <input type="file" input-data="$parent.newResourceData" />
											</span>						
											<img src="{{$parent.newResourceData}}" class="ui-resource-new" tooltip-html-unsafe="<img class=&quot;ui-resource-tooltip&quot; src=&quot;{{$parent.newResourceData}}&quot;></img>"></img>
										</td>
									</tr>
									<tr>
										<td class="ui-resource-new-commands" colspan="2">
											<button type="button" class="btn btn-default btn-xs" ng-click="newResource()" title="Ajouter"><img src="images/new.png" height="16" width="16"></src></button>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</div>

	<div id="commands">
		<button type="button" class="btn btn-primary" ng-click="reload()">Recharger</button>
		<button type="button" class="btn btn-primary" ng-click="save()">Enregistrer</button>
	</div>

	<!--  does not render what comes behind it, so it's probably wrong -->
	<div initializer></div>
	
</div>
