<meta charset="UTF8">

ui

<div id="ui" ng-controller="uiController">

	<div id="main">
	
		<div>
			<div ng-repeat="resource in resources">
				<img src="{{resource.data}}" style="max-height: 50px; max-width: 50px;"></img>
				<button type="button" class="btn btn-primary" ng-click="destroyResource(resource)">Supprimer</button>
			</div>
			<div>
				<input type="file" input-data="newResourceData" style="font-size:medium;"></input>
				<img src="{{newResourceData}}" style="max-height: 50px; max-width: 50px;"></img>
				<input type="text" ng-model="newResourceId"></input>
				<button type="button" class="btn btn-primary" ng-click="newResource()">Ajouter</button>
			</div>
		</div>
	</div>

	<div id="commands">
		<button type="button" class="btn btn-primary" ng-click="reload()">Recharger</button>
		<button type="button" class="btn btn-primary" ng-click="save()">Enregistrer</button>
	</div>

	<!--  does not render what comes behind it, so it's probably wrong -->
	<div initializer></div>
	
</div>
