#main {
    width: 100%;
    border: 1px black solid;
    font-size: 0;
    position: relative;
}

#commands {
	position: relative;
}

.title {
	padding: 10px;
	cursor: move;
	font-weight: bold;
	font-size: 120%;
}

.component-attribute {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: #40B3DF;
}

.component-action {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: #40B3DF;
}

#toolbox-container {
    width: 200px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#toolbox {
	border: 2px solid gray;
	border-right: 4px solid gray;
	width: 100%;
	height: 100%;
	background-color: #F3F2F4;
	
	display: inline-block;
}

.toolbox-item {
	/*position: absolute;*/
	width: 70px;
	height: 70px;
	display: inline-block;
	border: 1px solid #346789;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	cursor: move;
	text-align: center;
	
	margin: 10px;
}

.toolbox-item-title {
	font-size: xx-small;
}

.toolbox-item-image {
	border: 1px solid black;
}

.item {
	position: absolute;
	border: 1px solid black;
	width: 150px;
	font-size: 80%;
	background-color: #FFFFFF;
	text-align: center;
	-moz-box-shadow: 2px 2px 3px 1px #AAA;
	-webkit-box-shadow: 2px 2px 3px 1px #AAA;
	box-shadow: 2px 2px 3px 1px #AAA;
}

#schema-container {
    height: 500px;
    background-color: red;
    position: absolute;
    top: 0px;
}
