#main {
    width: 100%;
    height: 500px;
    border: 1px black solid;
    font-size: 0;
}

.title {
	padding: 10px;
	cursor: move;
	font-weight: bold;
	font-size: 120%;
}

.component-attribute {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: #40B3DF;
}

.component-action {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: #40B3DF;
}

#toolbox-container {
    width: 20%;
    height: 100%;
    display: inline-block;
}

#toolbox {
	border: 2px solid gray;
	border-right: 4px solid gray;
	width: 100%;
	height: 100%;
	background-color: #F3F2F4;
	
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
}

.toolbox-item {
	position: absolute;
	width: 70px;
	height: 70px;
	border: 1px solid #346789;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	cursor: move;
	text-align: center;
}

.toolbox-item:nth-child(3n+1){
    clear:left;
}

.toolbox-item-title {
	font-size: xx-small;
}

.toolbox-item-image {
	border: 1px solid black;
}

.item {
	position: absolute;
	border: 1px solid black;
	width: 150px;
	font-size: 80%;
	background-color: #FFFFFF;
	text-align: center;
	-moz-box-shadow: 2px 2px 3px 1px #AAA;
	-webkit-box-shadow: 2px 2px 3px 1px #AAA;
	box-shadow: 2px 2px 3px 1px #AAA;
}

#schema-container {
    width: 80%;
    height: 100%;
    background-color: red;
    display: inline-block;
}
