#main {
	font-size: 0;
    width: 100%;
    position: fixed;
    left: 0px;
	top: 15px;
	right: 0px;
	bottom: 60px;
}

#leftpane {
    width: 200px;
	height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#toolbox-container {
	height: 200px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#propertybox-container {
    left: 0px;
	width: 100%;
    position: absolute;
}

#toolbox {
	border: 2px solid gray;
	border-right: 4px solid gray;
	width: 100%;
	height: 100%;
	background-color: lightgray;
	
	border: 1px solid #346789;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 5px;
	border-radius: 5px;

    overflow-y: auto;
}

.toolbox-item {
	width: 70px;
	height: 70px;
	margin: 10px;
	display: inline-block;

	cursor: pointer;
	
	border: 1px solid black;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	text-align: center;
	background-color: #F3F3F3;
}

.toolbox-item-title {
	font-size: xx-small;
}

.toolbox-item-image {
	border: 1px solid black;
}

#schema-container {
    height: 100%;
    background-color: #F3F3F3;
    position: absolute;
    top: 0px;
}

.item {
	position: absolute;
	width: 150px;
	border: 1px solid black;
	box-shadow: 2px 2px 19px darkgray;
	-o-box-shadow: 2px 2px 19px darkgray;
	-webkit-box-shadow: 2px 2px 19px darkgray;
	-moz-box-shadow: 2px 2px 19px darkgray;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	/*
	opacity: 1;
	filter: alpha(opacity = 80);
	*/
}

.item-selected {
	box-shadow: 2px 2px 30px black;
	-o-box-shadow: 2px 2px 30px black;
	-webkit-box-shadow: 2px 2px 30px black;
	-moz-box-shadow: 2px 2px 30px black;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}

.item-image {
	height: 16px;
	width: 16px;
}

.item-title {
	padding: 2px;
	cursor: move;
	font-size: x-small;
	vertical-align: middle;
}

.component-parameter {
	width: 100%;
	font-size: x-small;
	background-color: #CCCCCC;
	vertical-align: middle;
	border-top: 1px solid black;
	text-indent: 10px;
}

.component-attribute {
	width: 100%;
	font-size: x-small;
	cursor: pointer;
	background-color: #40DFB3;
	border-top: 1px solid black;
	text-indent: 10px;
}

.component-action {
	width: 100%;
	font-size: x-small;
	cursor: pointer;
	background-color: #40B3DF;
	border-top: 1px solid black;
	text-indent: 10px;
}

#commands {
	position: fixed;
	padding: 5px;
	width: 100%;
	bottom: 0;
	height: 60px;
}
