#ui-windows {
	width: 100%;
	position: fixed;
	left: 0px;
	top: 100px;
	right: 0px;
	bottom: 60px;
}

#ui-leftpane {
	width: 200px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

#ui-itemlist-container {
	height: 200px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#ui-itemlist {
	font-size: 0;
	border: 2px solid gray;
	border-right: 4px solid gray;
	width: 100%;
	height: 100%;
	background-color: lightgray;
	border: 1px solid black;
	border-radius: 5px;
	overflow-y: auto;
}

#ui-itemlist-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 5px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 19px darkgray;
	-o-box-shadow: 2px 2px 19px darkgray;
	-webkit-box-shadow: 2px 2px 19px darkgray;
	-moz-box-shadow: 2px 2px 19px darkgray;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	text-align: center;
	background-color: #F3F3F3;
	overflow-y: scroll;
}

.ui-itemlist-list {
	list-style-type: none;
	margin: 0 0 0 20px;
	padding: 0;
}

li.ui-itemlist-item {
	position: relative;
	text-align: left;
	cursor: pointer;
}

div.ui-itemlist-item {
	
}

img.ui-itemlist-item {
	height: 16px;
	width: 16px;
}

span.ui-itemlist-item {
	font-size: x-small;
}

.ui-item-selected {
	font-weight: bold;
	border: 1px solid darkgray;
	border-radius: 2px;
}

#ui-propertybox-container {
	left: 0px;
	width: 100%;
	position: absolute;
	width: 100%;
}

#ui-propertybox {
	margin-top: 1px;
	border: 2px solid gray;
	border-right: 4px solid gray;
	width: 100%;
	height: 100%;
	background-color: lightgray;
	border: 1px solid black;
	border-radius: 5px;
	overflow-y: auto;
	font-size: x-small;
	vertical-align: middle;
}

#ui-propertybox-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 5px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 19px darkgray;
	-o-box-shadow: 2px 2px 19px darkgray;
	-webkit-box-shadow: 2px 2px 19px darkgray;
	-moz-box-shadow: 2px 2px 19px darkgray;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	text-align: center;
	background-color: #F3F3F3;
}

.ui-propertybox-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	margin: 8px;
	font-weight:
}

#ui-propertybox-content {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 30px;
}

#ui-propertybox-commands {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
}

#ui-propertybox-content table {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 5px;
}

#ui-propertybox-content th {
	text-align: center;
}

#ui-propertybox-content tbody {
	text-align: left;
}

#ui-propertybox-content input {
	border-collapse: collapse;
	border: 1px solid darkgray;
}

#ui-propertybox-content table {
	border-collapse: collapse;
	border: 1px solid darkgray;
}

#ui-propertybox-content td {
	/*border: 1px solid darkgray;*/
	padding-left: 5px;
}

.dropdown-menu > li > a {
	cursor: pointer;
}

.dropdown-menu > li > a > span {
	cursor: pointer;
}

.dropdown-menu > li > a > img {
	cursor: pointer;
}

#ui-schema-container {
	height: 100%;
	position: absolute;
	top: 0px;
}

.ui-resource-wrapper {
	overflow: scroll;
	/* TODO : max height */
}

div.ui-resource-list {
	display: inline-block;
	height: 120px;
	width: 150px;
	text-align: center;
}

span.ui-resource-list {
	font-size: xx-small;
}

img.ui-resource-list {
	height: 50px;
	width: 50px;
}

.ui-resource-new {
	border-spacing: 10px;
	border-collapse: separate;
}

img.ui-resource-new {
	height: 50px;
	width: 50px;
}

.ui-resource-new-commands {
	text-align: center;
}

img.ui-resource-tooltip {
	max-width: 180px;
}

.ui-dropdown-item {
	cursor: pointer;
}

.ui-design-command-display-map {
	width: 550px;
}

.ui-design-command-display-map-actions {
	width: 20px;
}

#ui-designer-main-wrapper {
	position: absolute;
	z-index: 1;
}

#ui-designer-main {
	border: 1px solid darkgray;
	
	width: 1024px;
	height: 768px;
}

#ui-designer-main-img {
	border: 1px solid darkgray;
}

.ui-designer-main-img-normal {
	width: 1024px;
	height: 768px;
}

.ui-designer-main-command {
	position: absolute;
}

.ui-designer-main-command-img {
	
}

.ui-designer-main-command-selected {
	box-shadow: 2px 2px 30px black;
	-o-box-shadow: 2px 2px 30px black;
	-webkit-box-shadow: 2px 2px 30px black;
	-moz-box-shadow: 2px 2px 30px black;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}
